html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#login-screen {
    width: 800px;
    border: 1px solid black;
    display: none;
    margin: 150px auto 0;
}

#login-screen form {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

#login-screen form input {
    margin-bottom: 10px;
}

#messages {
    position: absolute;
    width: 800px;
    top: 20px;
    left: 50%;
    margin-left: -400px;
}

#messages .alert {
    padding: 5px 10px;
}

#messages .alert-error {
    border-color: #ebccd1;
    background: #f2dede;
    color: #a94442;
}

#canvas-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

#canvas-wrapper canvas {
    position: absolute;
    background-color: #000000;
    z-index: 0;
}

#canvas-wrapper #chat {
    position: absolute;
    z-index: 100;
    width: 20%;
    border: 1px solid #000000;
    background: #808080;
    color: #ffce46;
    right: 0;
    bottom: 25px;
    padding: 10px 0;
    height: 20%;
    overflow-x: scroll;;
}

#canvas-wrapper #chat .messages {
}

#canvas-wrapper #chat .messages .message {
    padding: 2px 5px;
    display: table;
}


#canvas-wrapper #chat .messages .message .time {
    display: table-cell;
}

#canvas-wrapper #chat .messages .message .username {
    display: table-cell;
    padding-left: 5px;
}

#canvas-wrapper #chat .messages .message .content {
    display: table-cell;
    padding-left: 5px;
}

#canvas-wrapper #chat-input {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
}

#canvas-wrapper #chat-input input {
    width: 100%;
    border: 0;
    outline: none;
}