REVOKE ALL ON SCHEMA public FROM public;
GRANT USAGE ON SCHEMA publc TO public;
GRANT CONNECT ON DATABASE "{{ pg_ro_database }}" TO "{{ pg_ro_user }}";
GRANT USAGE ON SCHEMA PUBLIC TO "{{ pg_ro_user }}";
GRANT SELECT ON ALL TABLES IN SCHEMA PUBLIC TO "{{ pg_ro_user }}";
GRANT SELECT ON ALL SEQUENCES IN SCHEMA PUBLIC TO "{{ pg_ro_user }}";
ALTER DEFAULT PRIVILEGES IN SCHEMA PUBLIC GRANT SELECT ON TABLES TO "{{ pg_ro_user }}";
ALTER DEFAULT PRIVILEGES IN SCHEMA PUBLIC GRANT SELECT ON SEQUENCES TO "{{ pg_ro_user }}";
