sudo: false
language: node_js
node_js:
  - "7"
  - "8"

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5

install:
  - cd $TRAVIS_BUILD_DIR/nodejs/server && CC=gcc-5 CXX=g++-5 npm install
  - cd $TRAVIS_BUILD_DIR/nodejs/client && CC=gcc-5 CXX=g++-5 npm install
  - cd $TRAVIS_BUILD_DIR/nodejs/common && CC=gcc-5 CXX=g++-5 npm install

script:
  - cd $TRAVIS_BUILD_DIR/nodejs/common && npm test
  - cd $TRAVIS_BUILD_DIR/nodejs/server && npm test
  - cd $TRAVIS_BUILD_DIR/nodejs/client && npm test