server {
    listen {{ nginx_vhost_web_port }};
    root {{ nginx_vhost_web_root }};

    server_name {{ nginx_vhost_host }}{% for alias in nginx_vhost_server_aliases %} {{ alias }}{% endfor %};

    index index.html index.php;

    access_log /var/log/nginx/{{ nginx_vhost_host }}-access_log {{ nginx_log_type }};
    error_log /var/log/nginx/{{ nginx_vhost_host }}-error_log info;

    client_max_body_size {{ nginx_max_upload_size }};

{% for location in nginx_vhost_locations %}
    location {{ location.path }} {
        {{ location.content }}
    }
{% endfor %}

    location ~ ^/.+\.php(/|$) {
        fastcgi_pass unix:{{ nginx_vhost_fpm_socket }};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SCRIPT_NAME $fastcgi_script_name;
        fastcgi_param HTTPS off;
        fastcgi_buffer_size 128k;
        fastcgi_buffers 256 4k;
        fastcgi_busy_buffers_size 256k;
        fastcgi_temp_file_write_size 256k;
        fastcgi_read_timeout 240;
        fastcgi_intercept_errors on;
{% for env_var in nginx_vhost_env_vars %}
        fastcgi_param {{ env_var.name }} {{ env_var.value }}
{% endfor %}
    }
}